* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
}

.header {
  box-shadow: 0px 5px 5px black;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.search {
  display: flex;
}

/* FIXME: fix border around input box */
.search input,
.search input:focus {
  border: 2px solid lightgray;
  border-radius: 25px;
  background-color: lightgray;
}

.search svg {
  width: 25px;
}

/* Styles for sidebar */
.left-sidebar {
  background-color: #60A5FA;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  grid-area: 1 / 1 / span 2 / 2;
}

.left-sidebar svg {
  fill: white;
  width: 25px;
}

.logo {
  font-size: 20px;
}

.logo > div,
.sidebar-menu > *,
.sidebar-options > * {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 1fr;
  padding: 5px;
  align-items: center;
  justify-items: left;
}



.logo svg {
  width: 60px;
}

.logo,
.sidebar-menu,
.sidebar-options {
  padding: 25px 10px;
}


.content {
  background-color: #EFF6FF;
}